

    .sc_action_item.with_image {
        position:relative;
        text-align:center;
        @include bg-cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left !important;
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.img_overlay {
    z-index: 2;
    background-color: rgba(0,0,0,0.33) !important;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

   
    
}
.img_Section{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    
}
.list_facts{
    padding-top :2;
    padding-left:4;
    padding-right: 4;
   
}
.corner{
}

.container{
    border-width: 2px solid ;
    border-color: black;
}
.row_product{
    min-height: 400px;
    height:1px;
}
#twodivide{
    background-image:url(../images/productd.jpg); 
	height:100%;
    background-size: contain;
    width:100%;
}
@media screen and (max-width: 767px) {
    #twodivide {
     height:50%;
    }
  }
  @media screen and (width: 768px) {
    #twodivide {
     height:100%;
     widows: 100%;
     background-size: unset;
    }
  }
  .written{
      background-image: url(../images/written.jpeg);
      background-size: cover;
    height:50%;
  }